.container-wrapper.contacts-wrapper
  .container
    .row
      .col-lg-8.col-lg-offset-2
        %h1.page-heading.centered= @page_heading
        = simple_form_for [:front, @contact], html: { class: "form-horizontal form-regular form-with-alerts form-contact clearfix" } do |f|
          = render "front/shared/errors", item: @contact
          = f.input :name, wrapper_html: { class: "size-m" }, required: true
          = f.input :email, wrapper_html: { class: "size-m" }, required: true
          -#= f.input :subject, required: true
          = f.input :description, as: :text, input_html: { cols: 40, rows: 6 }
          = submit_button form: f, kind: "send", icon: "chevron-right"
