.editorial-wrapper.container-wrapper.pricing-wrapper
  .container
    - if @page_heading.present?
      .row
        .col-xxs-12
          .page-heading= @page_heading
    - if @editorial.text1.present?
      .row
        .col-xxs-12.editos
          .html-text= @editorial.text1.html_safe
    .row 
      .col-md-6
        .pricing-block
          %h2.pricing-heading Calculez votre espace de stockage
          = simple_form_for [:front, :editorial, @quotation], html: { id: "js-packages", class: "form-horizontal form-regular form-with-alerts calculator clearfix" } do |f|
            - { sm: 36, md: 54, lg: 72, xl: 128 }.each do |size, coef|
              - classes = ["package-wrapper"]
              - classes << "standard-package" if :md == size
              - key = "package_#{size}".to_sym
              - value = (params[:quotation] || {})[key].to_i
              = f.input key, as: :integer, wrapper_html: { class: classes }, input_html: { class: "js-package", value: value, data: { coef: coef } }
            = f.input :with_description, as: :boolean, wrapper_html: { class: "with-description-wrapper" }, input_html: { id: "js-with-description-checkbox" }, item_wrapper_class: "inline", hint: "(gros électroménager, canapé, outillage…)"
            #js-description-wrapper.description-wrapper.clearfix
              = f.input :description, as: :text, input_html: { cols: 40, rows: 5 }, label: false, required: false, placeholder: "Précisez les objets que vous souhaitez entreproser"
            .form-group.form-group-submit
              .form-field.form-field-label
                = link_to "#", id: "js-calculator-btn", class: "btn btn-primary btn-deco btn-submit" do
                  Calculer
                  .glyphicon.glyphicon-cog
            - classes = ["result-footer"]
            - classes << "result-footer-visible" if "create_quotation" == params[:action]
            #js-result-footer{ class: classes }
              %p Surface estimée pour le stockage de vos cartons :
              %p#js-calculator-result.result 0
              #js-booking-with-description.booking-with-description
                %p.alert.alert-danger Nous ne pouvons pas calculer automatiquement l’espace nécessaire pour les autres objets. Un spécialiste vous recontactera.
              #js-booking-without-description.booking-without-description
              = render "front/shared/errors", item: @quotation
              = f.input :email
              = f.input :phone
              = submit_button form: f, kind: "book"
              %p.contact-info Appelez-nous au #{@configuration.phone} - #{link_to "Faites-vous rappeler par un conseiller", new_front_quotation_path}
      .col-md-6
        .pricing-block
          - if @boxes.present?
            %h2.pricing-heading Nos tarifs
            %table#js-boxes.table.table-striped.table-bordered.table-condensed.table-hover.table-boxes
              %thead
                %tr
                  %th Surface
                  %th Tarif (TTC / mois)
              %tbody
                - @boxes.each do |box|
                  %tr.box.js-box{ data: { surface: box.surface } }
                    %td.name= box.name
                    %td.price= box.price
          - if @editorial.text2.present? || @editorial.text3.present?
            .boxes-infos
              - if @editorial.text2.present?
                .html-text= @editorial.text2.html_safe
              - if @editorial.text3.present?
                .line
                .html-text= @editorial.text3.html_safe

