.editorial-wrapper.container-wrapper
  .container
    .row
      .col-sm-6
        - if @page_heading.present?
          .page-heading= @page_heading
        %form#js-packages.calculator
          %label.package{:for=>"sm-box"} Petits cartons
          %input#sm-box.package{:type =>"text"}
          %label.package{:for=>"std-box"} Cartons standard
          %input#std-box.package{:type =>"text"}
          %label.package{:for=>"lg-box"} Grands cartons
          %input#lg-box.package{:type =>"text"}
          %input#calculator-btn.btn.btn-primary{:type=>"submit", :value=>"Calculez Votre Espace"}
        %p.result-header
          Surface de stockage estimée :
          %span.result
        .editos
          - if @editorial.text1.present?
            .html-text= @editorial.text1.html_safe
          - if @editorial.text2.present?
            .line
            .html-text= @editorial.text2.html_safe
          - if @editorial.text3.present?
            .line
            .html-text= @editorial.text3.html_safe
      .col-sm-6
        - if @boxes.present?
          %table#js-boxes.table.table-striped.table-bordered.table-condensed.table-hover.table-boxes
            %thead
              %tr
                %th Surface
                %th Tarif (TTC / mois)
            %tbody
              - @boxes.each do |box|
                %tr.box{ data: { surface: box.surface } }
                  %td.name= box.name
                  %td.price= box.price
        .row-quotation= link_to "Demander un devis", new_front_quotation_fr_path, class: "btn btn-primary btn-lg"

