.editorial-wrapper.container-wrapper.editorial-services-wrapper
  .container
    .row
      .col-md-5.editorial-images
        - if (image = @editorial.images.first).present?
          -#= link_to image.img.prefull.url, class: "editorial-image" do
          .editorial-image
            = image_tag image.img.editorial.preview.url, alt: image.legend, class: "editorial-image-img"
      .col-md-7
        .editos
          - if @page_heading.present?
            .page-heading= @page_heading
          - if @editorial.text1.present?
            .html-text= @editorial.text1.html_safe
          - if @editorial.text2.present?
            .line
            .html-text= @editorial.text2.html_safe
          - if @editorial.text3.present?
            .line
            .html-text= @editorial.text3.html_safe
        -#.btn-order.btn.btn-primary.col-md-4.col-sm-4= link_to "Demandez un Devis",new_front_quotation_fr_path
        .row-quotation= link_to "Demander un devis", new_front_quotation_fr_path, class: "btn btn-primary btn-lg"

