- if has_flashes?
  = render "front/shared/flashes"
.container-wrapper.homepage-intro-wrapper
  .container
    - if @editorial.present?
      .row
        .col-xs-4
          .homepage-intro-image
            - if (image = @editorial.images.first).present?
              = image_tag image.img.editorial.preview.url, alt: @editorial.name, class: "homepage-intro-img"
            - else
              = image_tag "front/default_homepage_intro.png", alt: "", class: "homepage-intro-img"
        .col-xs-8
          - if @page_heading.present?
            %h1.page-heading= @page_heading
          - if @editorial.text1.present?
            .html-text= @editorial.text1.html_safe
.container-wrapper.homepage-expertises-wrapper
  .container
    .row
      .col-xxs-12
        %h2.page-heading Quelques compétences…
      .col-sm-6.col-md-6
        .homepage-expertise
          .test
            .glyphicon.glyphicon-cog
            .heading Développement back-end
          .description= Forgery('lorem_ipsum').paragraphs
      .col-sm-6.col-md-6
        .homepage-expertise
          .test
            .glyphicon.glyphicon-picture
            .heading Développement front-end
          .description= Forgery('lorem_ipsum').paragraphs
      .col-sm-6.col-md-6
        .homepage-expertise
          .test
            .glyphicon.glyphicon-list-alt
            .heading Gestion de projet
          .description= Forgery('lorem_ipsum').paragraphs
      .col-sm-6.col-md-6
        .homepage-expertise
          .test
            .glyphicon.glyphicon-user
            .heading Conseil et accompagnement
          .description= Forgery('lorem_ipsum').paragraphs
- if @highlighted_projects.present?
  .container-wrapper.homepage-highlighted-projects-wrapper
    .container
      .row
        .col-xxs-12
          %h2.page-heading Quelques #{link_to "réalisations", front_projects_path}…
        - @highlighted_projects.each do |project|
          - if (image = project.images.for_kind(:preview).first).present?
            .col-xxs-6.col-xs-4.col-md-2.homepage-highlighted-project
              = link_to front_project_path(id: project), class: "homepage-highlighted-project-link", title: project.name do
                - alt = image.legend.present? ? image.legend : project.name
                = image_tag image.img.medium.url, alt: alt, class: "homepage-highlighted-project-img"
