.container-wrapper.homepage-intro-wrapper
  .container.homepage-intro-container
    - if @editorial.present?
      .row
        -#.col-xs-4
          -#.homepage-intro-image
            - if (image = @editorial.images.first).present?
              = image_tag image.img.editorial.preview.url, alt: @editorial.name, class: "homepage-intro-img"
            - else
              = image_tag "front/default_homepage_intro.png", alt: "", class: "homepage-intro-img"
        .col-sm-8.col-sm-push-2.col-lg-6.col-lg-push-3
          .homepage-intro-description
            - if @page_heading.present?
              %h1.page-heading= @page_heading
            - if @editorial.text1.present?
              .html-text
                = @editorial.text1.html_safe
                %p.call-to-actions
                  = link_to "Mon portfolio", front_projects_path, class: "btn btn-call-to-action btn-portfolio"
                  = link_to "Mon CV", front_jobs_path, class: "btn btn-call-to-action btn-cv"
      = link_to "crédit photo LoKan Sardari", "https://www.flickr.com/photos/lokan/", class: "credit", rel: "nofollow external"
.container-wrapper.homepage-expertises-wrapper
  .container
    .row
      .col-xs-6.col-md-3
        .homepage-expertise
          .homepage-expertise-header
            = icon "picture"
            .homepage-expertise-heading
              %span.centered Développement front-end
          .homepage-expertise-description
            %p Intégration HTML5/CSS3
            %p Responsive web design
            %p JavaScript, JQuery
            %p Accessibilité
      .col-xs-6.col-md-3
        .homepage-expertise
          .homepage-expertise-header
            = icon "cog"
            .homepage-expertise-heading
              %span.centered Développement back-end
          .homepage-expertise-description
            %p Ruby on Rails, Java / JEE
            %p Bases de données
            %p Cloud / PAAS (Heroku)
            %p Administration Linux
      .col-xs-6.col-md-3
        .homepage-expertise
          .homepage-expertise-header
            = icon "user"
            .homepage-expertise-heading
              %span.centered Gestion de projet
          .homepage-expertise-description
            %p Méthodes agile, scrum…
            %p Travail collaboratif (Git)
            %p Tests et documentation
            %p Lean startup
      .col-xs-6.col-md-3
        .homepage-expertise
          .homepage-expertise-header
            = icon "heart-empty"
            .homepage-expertise-heading
              %span.centered Petits plus
          .homepage-expertise-description
            %p Performance
            %p Référencement naturel
            %p Ergonomie / UX
            %p Emailing / newsletters
            %p Growth hacking
- if @highlighted_projects.present?
  .container-wrapper.homepage-highlighted-projects-wrapper
    .container
      .row
        .col-xxs-12.centered
          %h2.page-heading Quelques réalisations…
      .row
        - @highlighted_projects.each do |project|
          - if (image = project.images.for_kind(:preview).first).present?
            .col-xxs-6.col-xs-4.col-md-2.homepage-highlighted-project
              = link_to front_project_path(id: project), class: "homepage-highlighted-project-link", title: project.name do
                - alt = image.legend.present? ? image.legend : project.name
                = image_tag image.img.medium.url, alt: alt, class: "homepage-highlighted-project-img"
- if @entertainments.present?
  .container-wrapper.homepage-entertainments-wrapper
    .container
      .row
        .col-xxs-12.centered
          %h2.page-heading Quelques réalisations…
      .row
        - @entertainments.each do |entertainment|
          - if (image = project.images.for_kind(:preview).first).present?
            .col-xxs-6.col-xs-4.col-md-2.homepage-entertainment
              = link_to front_project_path(id: project), class: "homepage-entertainment-link", title: project.name do
                - alt = image.legend.present? ? image.legend : project.name
                = image_tag image.img.medium.url, alt: alt, class: "homepage-entertainment-img"
