%header.container-wrapper.header-wrapper{ role: "banner" }
  %nav.container{ role: "navigation" }
    .logo
      = link_to front_home_path, class: "text-wrapper" do
        - if (image = @configuration.images.for_kind(:logo_app).first).present?
          = image_tag image.img.configuration.logo_app.url, alt: app_name, class: "logo-img"
        - else
          %span.logo-name= app_name
    = link_to "#", class: "menu-link menu-toggle btn btn-default", title: "Menu" do
      = image_tag "front/icon_menu.svg", alt: "Menu"
    %ul.menu.clearfix
      - @header_menu.each do |key, info|
        %li
          - classes = ["text-wrapper"]
          - classes << "active" if @active_menus.include?(key)
          = link_to info[:url], class: classes do
            %span.text= info[:name]
.fixed-header-padder
