.heading-wrapper.container-wrapper
  .container
    .row
      .col-xxs-12
        %h1.page-heading= @page_heading
      -# TODO if @page_editorial.present?
        #js-heading-description.col-xxs-12.col-xs-8.col-xs-offset-2.heading-description.folded
          .heading-description-text= @page_editorial.html_safe
          .heading-description-more
            = link_to "Lire la suite", "#", class: "btn btn-xs btn-custom", id: "js-heading-description-btn"
.projects-wrapper.container-wrapper
  .container
    -#cache cache_key_for_projects(@projects), expires_in: 1.day do
    - if @projects.present?
      .project-listing.row
        - @projects.each do |project|
          .col-xxs-6.col-xs-4.col-sm-3.col-md-3.project-thumb
            -#{ data: { category: project.project_category_id } }
            - if true #cache project, expires_in: 1.day do
              = render "front/projects/thumb", project: project
    - else
      .centered Aucun résultat
