.project-wrapper.container-wrapper
  .container
    .row
      .project-image.col-xs-5
        -# if (image = @project.images.first).present?
        - if (image = @project.images.for_kind(:preview).first).present?
          - alt = image.legend.present? ? image.legend : @project.name
          -#= link_to image.img.project.preview.url, title: alt, class: "project-image project-image-preview" do
            .project-image-layer
            = image_tag image.img.project.preview.url, alt: alt, class: "project-image-img"
          = image_tag image.img.project.preview.url, alt: alt, class: "project-image-img"
        - else
          = image_tag "front/default_project.png", alt: @project.name, class: "project-image-img"
      .project-details.col-xs-7.col-md-6.col-md-offset-1
        %h1.project-name= @project.name
        - if @project.description.present?
          .project-description.text-html= @project.description.html_safe
