.project-wrapper.container-wrapper
  .container
    .row
      .col-xs-5
        - if (images = @project.images.for_kind(:preview)).present?
          #js-slider.flexslider.project-slider
            %ul.slides
              - images.each do |image|
                - alt = image.legend.present? ? image.legend : @project.name
                %li.slider-slide= image_tag image.img.project.preview.url, alt: alt, class: "project-slider-img"
        - else
          = image_tag "front/default_project.png", alt: @project.name, class: "project-slider-img"
      .col-xs-1
        - if (images = @project.images.for_kind(:preview)).present? && 1 < images.count
          #js-carousel.flexslider.project-carousel
            %ul.slides
              - images.each do |image|
                - alt = image.legend.present? ? image.legend : @project.name
                -#= link_to "#", class: "project-carousel-image" do
                %li.carousel-slide= image_tag image.img.small.url, alt: alt, class: "project-carousel-img"
      .project-details.col-xs-6
        %h1.project-name= @project.name
        - if @project.company_description.present?
          .project-company-description= @project.company_description
        - if @project.description.present?
          .project-description.text-html= @project.description.html_safe
