.blog-topics
  - if @blog_topics.blank?
    Aucun résultat.
  - else
    - @blog_topics.each do |blog_topic|
      .blog-topic
        - if (image = blog_topic.images.for_kind(:preview).first).present?
          = link_to front_blog_topic_path(id: blog_topic), class: "image-wrapper" do
            = image_tag image.img.blog_topic.preview.url, alt: (image.legend.present? ? image.legend : blog_topic.name), class: "image"
        .blog-topic-wrapper
          %h2.blog-topic-name= link_to blog_topic.name, front_blog_topic_path(id: blog_topic), class: "blog-topic-name-link"
        .blog-topic-wrapper
          .blog-topic-introduction.html-text= blog_topic.introduction.to_s.html_safe
          - if blog_topic.description.present?
            .blog-topic-more= link_to "Lire la suite…", front_blog_topic_path(id: blog_topic), class: "btn btn-sm btn-primary btn-blog-topic-more"
          .blog-topic-infos.clearfix
            .blog-topic-published-at Le #{format_date(blog_topic.published_at, :full)}
            - if (blog_tags = blog_topic.blog_tags.active).present?
              .blog-topic-tags
                - blog_tags.each do |blog_tag|
                  = link_to "##{blog_tag.name.downcase}", front_blog_tag_path(blog_tag_id: blog_tag), class: "btn btn-xs btn-default btn-blog-tag"
- if @blog_topics.respond_to?(:total_pages) && 1 < @blog_topics.total_pages
  = render "front/shared/paginate", items: @blog_topics
