= inside_layout "front" do
  = link_to "Aller au menu", "#menu", class: "sr-only"
  = link_to "Aller au contenu", "#main", class: "sr-only"
  #all
    #wrap
      = render "front/shared/header"
      - if @display_breadcrumbs
        = render "front/shared/breadcrumbs"
      #main
        - if has_flashes?
          = render "front/shared/flashes"
        = yield
      = render "front/shared/footer"
