- page_title = @page_title || app_name
!!! 5
- if :homepage == @front_kind
  /
    \  |\      _,,,-—-,,_
    \  /,`.-'`'    -.  ;-;;,_
    \ |,4-  ) )-,_..;\ (  `'-'
    \'-—-''(_/—-'  `-'\_)       … et l’easter egg chaton ! ;)
%html{ :lang => I18n.locale, :"xmlns:og" => "http://ogp.me/ns#" }
  %head
    %meta{ charset: "utf-8" }
    - prefetches = ["http://www.google-analytics.com", "http://js-agent.newrelic.com", "https://vignolles.s3-eu-west-1.amazonaws.com", "http://beacon-5.newrelic.com"]
    - if @blog_topic
      - prefetches += ["https://disqus.com", "http://bam.nr-data.net", "https://realtime.services.disqus.com", "https://referrer.disqus.com"]
    - prefetches.each do |domain|
      %link{ rel: "dns-prefetch", href: domain }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "author", content: app_name }
    %title= page_title
    -#%link{ rel: "apple-touch-icon", href: "apple-touch-icon-precomposed.png" }
    -#%link{ rel: "apple-touch-icon", sizes: "72x72", href: "apple-touch-icon-72x72-precomposed.png" }
    -#%link{ rel: "apple-touch-icon", sizes: "114x114", href: "apple-touch-icon-114x114-precomposed.png" }
    -#%link{ rel: "apple-touch-icon", sizes: "144x144", href: "apple-touch-icon-144x144-precomposed.png" }
    - if @page_description.present?
      %meta(name="description" content="#{@page_description}")
    - if @page_keywords.present?
      %meta(name="keywords" content="#{@page_keywords}")
    - icon_name = on_production_site? ? "front/favicon.jpg" : "front/favicon_dev.jpg"
    %link{ rel: "icon", type: "image/jpeg", href: image_path(icon_name) }
    = stylesheet_link_tag "front/application", :media => :all, 'data-turbolinks-track' => true
    = csrf_meta_tags
    = javascript_include_tag "front/application", 'data-turbolinks-track' => true
    = yield :head
  %body{ class: "front-#{@front_kind}" }
    = render "front/shared/tracking"
    = yield
